{% extends 'baseAdmin.html.twig' %}

{% block title %}Portail Administrateur{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{asset('styles/css/formAdmin.css')}}">
{% endblock %}

{% block body %}

<h2>Modifier un album</h2>

<section class="formAdmin">

  {{ form_start(formAlbum)}}
  <div class="formAdminItem labelOn">
    {{ form_row(formAlbum.title, {'label': 'Titre', 'attr': {'placeholder' : "Titre", 'class' : "formAdminControl"}})}}
  </div>
  <div class="formAdminItem labelOn">
    {{ form_row(formAlbum.description, {'label': 'Description', 'attr': {'placeholder' : "Description", 'class' : "formAdminControl"}})}}
  </div>
  <div class="formAdminItem labelOn">
    {{ form_row(formAlbum.collection, {'label': 'Collection', 'attr': {'placeholder' : "Dans ma médiathèque ?", 'class' : "formAdminControl"}})}}
  </div>
  <div class="formAdminItem labelOn">
    {{ form_row(formAlbum.notes, {'label': 'Notes', 'attr': {'placeholder' : "Notes à propos de l'album", 'class' : "formAdminControl"}})}}
  </div>
  <div class="formAdminItem labelOn">
    {{ form_row(formAlbum.artist, {'label': 'Artiste', 'attr': {'placeholder' : "Artiste", 'class' : "formAdminControl"}})}}
  </div>
  <div class="formAdminItem labelOn">
    {{ form_row(formAlbum.groupe, {'label': 'Groupe', 'attr': {'placeholder' : "Groupe", 'class' : "formAdminControl"}})}}
  </div>
  <center>
    <button type="submit" class="btnAdmin">Modifier</button>
  </center>
  {{ form_end(formAlbum)}}

</section>

{% endblock %}
