<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{asset('styles/css/base.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/3ada8ccc7e.js" crossorigin="anonymous"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
      <main>
        <section class="nav">
          <ul class="nav_items">
            <li class="nav_items_elt">
              <a href="{{path('admin')}}">Accueil</a>
            </li>
            <li class="nav_items_elt">
              <a href="{{path('espaceMusique')}}">Espace Musique</a>
            </li>
            <li class="nav_items_elt">
              <a href="{{path('espaceVideo')}}">Espace Vidéos</a>
            </li>
            <li class="nav_items_elt">
              <a href="{{path('espaceUser')}}">Espace User</a>
            </li>
            <li class="nav_items_elt">
              <a href="{{path('espaceArtists')}}">Espace Artistes</a>
            </li>
          </ul>
        </section>
        {% block body %}{% endblock %}
        </main>
        {% block javascripts %}
          <script type="text/javascript" src="{{asset('js/jquery.js')}}"></script>
        {% endblock %}
    </body>
</html>
